@{
    ViewData["Title"] = "Contact";
}
<div class="box box-widget">
    <div class="box-header with-border text-center bg-black text-white">
        <h3>Contact</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
    </div>
</div>
