<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="~/Content/Images/favicon.ico">
    <link rel="icon" media="all" type="image/x-icon" href="~/Content/Images/favicon.ico"><!-- ico not png -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] - Portal</title>
    <bundle name="wwwroot/bundles/site.min.css" />
    <bundle name="wwwroot/bundles/site.min.js" />

</head>
<body>
    <div class="m-2">
        @RenderBody()
        @await RenderSectionAsync("Scripts", required: false)
    </div>
    @*<script type="text/javascript">
        var element = document.getElementById("qrCode");
        if (element !== null) {
            new QRCode(element, {
                text: document.getElementById("qrCodeData").getAttribute("data-url"),
                width: 150, height: 150
            });
            element.previousElementSibling?.remove();
        }                            
    </script>*@
</body>
</html>
