@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Func<string, string> getClass = (string feature) =>
        feature != null && feature.Equals(Model.workflow) ? "active" : "";
}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li title="@User.Identity.Name"><a  href="#"><i class="fa fa-user"></i> <span>@User.Identity.Name</span></a></li>
            }
            <li title="Main"><a href="~/Home/Index"><i class="fa fa-home"></i> <span>Main</span></a></li>
            <li title="Home"><a href="~/Store/Index"><i class="fa fa-home"></i> <span>Home</span></a></li>
            @if (User.IsInRole("Admin"))
            {
                <li title="Admin"><a href="~/Identity/Admin"><i class="fa fa-dashboard"></i> <span>Admin</span></a></li>
            }
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Profile</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li title="Profile Info"><a href="~/Identity/Index"><i class="fa fa-user"></i> <span>Profile Info</span></a></li>
                    <li title="Password Change"><a href="~/Identity/UserPasswordChange"><i class="fa fa-pencil"></i> <span>Password Change</span></a></li>
                    <li title="Two Factor Setup"><a href="~/Identity/UserTwoFactorSetup"><i class="fa fa-link"></i> <span>Two Factor Setup</span></a></li>
                    <li title="Two Factor Manage"><a href="~/Identity/UserTwoFactorManage"><i class="fa fa-link"></i> <span>Two Factor Manage</span></a></li>
                    <li title="Recovery Codes"><a href="~/Identity/UserRecoveryCodes"><i class="fa fa-link"></i> <span>Recovery Codes</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Product</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li title="Edit"><a href="~/Admin/index"><i class="fa fa-pencil"></i> <span>Edit</span></a></li>
                    <li title="Product"><a href="~/Store/Index"><i class="fa fa-file"></i> <span>Product</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li title="DataTables"><a href="~/Datatables/index"><i class="fa fa-pencil"></i> <span>DataTables</span></a></li>
                </ul>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                          method="post">
                        <button type="submit" class="btn btn-link text-white">
                            <i class="fa fa-lock text-white"></i><span> Logout</span>
                        </button>
                    </form>
                </li>
            }
        </ul>
    </section>
</aside>