<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="favicon.ico">
    <link rel="icon" media="all" type="image/x-icon" href="favicon.ico"><!-- ico not png -->
    <meta content="width=device-width, initial-scale=1", name="viewport">
    <title>@ViewData["Title"] - Portal</title>
    <bundle name="wwwroot/bundles/site.min.css" />
    <bundle name="wwwroot/bundles/site.min.js" />
    <link rel="stylesheet" href="~/css/bootstrap-3.4.1.min.css">
    <script src="~/scripts/bootstrap-3.4.1.min.js"></script>
    <script src="~/scripts/bootstrap-5.0.0-bundle.min.js"></script>

    <partial name="_Header" />
</head>
<body>
    <div class="wrapper">
        <section class="content">
            @RenderBody()
        </section>
        <footer class="py-5">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="~/Home/Index" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="~/About/Index" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="~/Home/Index" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="~/About/Index" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="~/Home/Index" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="~/About/Index" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
            </div>

            <div class="py-12 my-12 border-top">
                <p class="text-center">&copy; @DateTime.Now.Year Company, Inc. All rights reserved.</p>
                <ul class ="list-unstyled list-inline text-center">
                    <li class="ms-3" title="Twitter"><a href="#"><i class="fab fa-twitter" style="font-size:24px"></i><span></span></a></li>
                    <li class="ms-3" title="Instagram"><a href="#"><i class="fab fa-instagram" style="font-size:24px"></i><span></span></a></li>
                    <li class="ms-3" title="facebook"><a href="#"><i class="fab fa-facebook" style="font-size:24px"></i><span></span></a></li> 
                </ul>
            </div>
        </footer>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>