@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<header class="main-header">
    @* BEGIN Logo *@
    <a href="~/Store" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini text-black"><img src="~/images/" alt="Name Here" style="border: 0px;" /></span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><img src="~/images/" alt="Name Here" style="border: 0px" /></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <span class="hidden-xs text-white"><i class="fa fa-user"></i> @User.Identity.Name</span>
                }

            </ul>
        </div>
    </nav>
</header>