@page "{Id?}"
@model Portal.Pages.Identity.Admin.EditModel
@{
    ViewBag.Workflow = "Edit";
    ViewData["Title"] = "Edit Account";
}

<div class="box box-widget">
    <div class="box-header with-border text-center rowcolor">
        <h3>Edit Account</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <form method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" asp-for="IdentityUser.UserName" readonly />
                    </div>
                    <div class="form-group">
                        <label>Normalized Username</label>
                        <input class="form-control" asp-for="IdentityUser.NormalizedUserName"
                               readonly />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" asp-for="IdentityUser.Email" />
                    </div>
                    <div class="form-group">
                        <label>Normalized Email</label>
                        <input class="form-control"
                               asp-for="IdentityUser.NormalizedEmail" readonly />
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" asp-for="IdentityUser.PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a asp-page="Dashboard" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
        <div asp-validation-summary="All" class="text-danger m-2"></div>
    </div>
</div>