@page "{Id?}"
@model Portal.Pages.Identity.Admin.PasswordsModel
@{
    ViewBag.Workflow = "Passwords";
    ViewData["Title"] = "Passwords";
}

<div class="box box-widget">
    <div class="box-header with-border text-center rowcolor">
        <h3>Passwords</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col p-1">
                            <div asp-validation-summary="All" class="text-danger m-2"></div>
                            <form method="post" asp-page-handler="setPassword" class="pb-2">
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">

                                    <label>New Password</label>
                                    <input class="form-control" name="password" type="password" />
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input class="form-control" name="confirmation"
                                           type="password" />
                                </div>
                                <br />
                                <div class="form-group">
                                    <button class="btn btn-secondary">Set Password</button>
                                    @if (await Model.UserManager.IsEmailConfirmedAsync(Model.IdentityUser))
                                    {
                                        <form method="post" asp-page-handler="userChange">
                                            <input type="hidden" asp-for="Id" />
                                            <button class="btn btn-secondary">
                                                Reset Email
                                            </button>
                                        </form>
                                    }
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
        <div asp-validation-summary="All" class="text-danger m-2"></div>

        @if (TempData.ContainsKey("message"))
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

    </div>
</div>
