@page "{Id?}"
@model Portal.Pages.Identity.Admin.ViewModel
@{
    ViewBag.Workflow = "List";
}

<div class="box box-widget">
    <div class="box-header with-border text-center bg-black text-white">
        <h3>@ViewBag.Workflow</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr><th>Property</th><th>Value</th></tr>
                    </thead>
                    <tbody>
                        @foreach (string name in Model.PropertyNames)
                        {
                            <tr>
                                <td>@name</td>
                                <td class="text-truncate" style="max-width:250px">
                                    @Model.GetValue(name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">
                    Edit
                </a>
                <a asp-page="View" asp-route-id="" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
    </div>
</div>