/*
 * Skin: Pink
 * ------------
 */
.skin-pink .main-header .navbar {
  background-color: #ff748c;
}
.skin-pink .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-pink .main-header .navbar .nav > li > a:hover,
.skin-pink .main-header .navbar .nav > li > a:active,
.skin-pink .main-header .navbar .nav > li > a:focus,
.skin-pink .main-header .navbar .nav .open > a,
.skin-pink .main-header .navbar .nav .open > a:hover,
.skin-pink .main-header .navbar .nav .open > a:focus,
.skin-pink .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-pink .main-header .navbar .sidebar-toggle {

  background-color: #ff748c !important;
}
.skin-pink .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-pink .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-pink .main-header .navbar .sidebar-toggle:hover {
  background-color: #e08e0b;
}
@media (max-width: 767px) {
  .skin-pink .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-pink .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-pink .main-header .navbar .dropdown-menu li a:hover {
    background: #e08e0b;
  }
}
.skin-pink .main-header .logo {
  background-color: #fff;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-pink .main-header .logo:hover {
  background-color: #fff;
}
.skin-pink .main-header li.user-header {
  background-color: #ff748c;
}
.skin-pink .content-header {
}
.skin-pink .wrapper,
.skin-pink .main-sidebar,
.skin-pink .left-side {
background-color: #ff748c !important;
}
.skin-pink .main-sidebar {
  border-right: 1px solid #d2d6de;
}
.skin-pink .user-panel > .info,
.skin-pink .user-panel > .info > a {
  color: #444444;
}
.skin-pink .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-pink .sidebar-menu > li.header {
color: #848484;
background-color: #ff748c !important;
}
.skin-pink .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: normal;
  color: #fff
}
.skin-pink .sidebar-menu > li:hover > a,
.skin-pink .sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}
.skin-pink .sidebar-menu > li.active {
  border-left-color: #ff748c;
}
.skin-pink .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-pink .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-pink .sidebar a {
  color: #444444;
}
.skin-pink .sidebar a:hover {
  text-decoration: none;
}
.skin-pink .sidebar-menu .treeview-menu > li > a {
  color: #777777;
}
.skin-pink .sidebar-menu .treeview-menu > li.active > a,
.skin-pink .sidebar-menu .treeview-menu > li > a:hover {
  color: #000000;
}
.skin-pink .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-pink .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;

}
.skin-pink .sidebar-form input[type="text"],
.skin-pink .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-pink .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-pink .sidebar-form input[type="text"]:focus,
.skin-pink .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-pink .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-pink .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
 .skin-pink .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-pink .control-sidebar-color {
background-color: #ff748c !important;
color: #fff
}
.skin-pink .rowcolor {
    background-color: #ff748c !important;
    font-weight: bold;
    color: white;
    font-family: 'Microsoft Sans Serif', san-serif, 'Arial, Helvetica';
    text-decoration: none;
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: 5px;
}