@page
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["ActivePage"] = ManageNavPages.StoreData;
    ViewData["ParentLayout"] = "_InfoLayout";
    IdentityUser user = await UserManager.GetUserAsync(User);
}

<div class="box box-widget">
    <div class="box-header with-border text-center bg-black text-white">
        <h3>Store Data</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <div class="row form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr><th>Property</th><th>Value</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Id</td>
                                <td>@user.Id</td>
                            </tr>
                            @foreach (var prop in typeof(IdentityUser).GetProperties())
                            {
                                if (prop.Name != "Id")
                                {
                                    <tr>
                                        <td>@prop.Name</td>
                                        <td class="text-truncate" style="max-width:250px">
                                            @prop.GetValue(user)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer text-center">
        </div>
    </div>
</div>

