@{
    ViewData["Title"] = "Home";
}
<div class="box box-widget">
   @* <div class="box-header with-border text-center bg-black text-white">*@
       @* <h3></h3>*@
    @*</div>*@
    <div class="box-body">
        <div class="row form-group">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Column 1</h3>
                    <p>Info here</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Column 2</h3>
                    <p>Info here</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Column 3</h3>
                    <p>Info here</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
    </div>
</div>