@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Column 1</h3>
        <p>Info here</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Column 2</h3>
        <p>Info here</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Column 3</h3>
        <p>Info here</p>
    </div>
</div>