@page
@model Portal.Pages.Identity.UserPasswordChangeModel
@{
    ViewBag.Workflow = "PasswordChange";
    Layout = "_CustomLayout";
    ViewData["Title"] = "Password Change";
}

<div class="box box-widget">
    <div class="box-header with-border text-center rowcolor">
        <h3>Password Change</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <form method="post">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input class="form-control" name="current" type="password" />
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" name="newpassword" type="password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input class="form-control" name="confirmpassword" type="password" />
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <button class="btn btn-primary">Change Password</button>
                        <a asp-page="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
        </div>
    </div>
    <div class="box-footer text-center">
        @if (TempData.ContainsKey("message"))
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    </div>
</div>