@page "/pages/edit/{id:long?}"
@model Portal.Pages.EditModel

<title>Product Page</title>
<div class="box box-widget">
    <div class="box-header with-border text-center bg-black text-white">
        <h3>Product Page</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <form method="post" class="p-2">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" readonly asp-for="@Model.Product.Id" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" asp-for="@Model.Product.Name" />
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <input class="form-control" asp-for="@Model.Product.Category" />
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" type="number" asp-for="@Model.Product.Price" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary">Save</button>
                        <a class="btn btn-secondary" asp-page="Admin">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
    </div>
</div>
