@page "/pages/store"
@model Portal.Pages.StoreModel

<title>Store</title>
<div class="box box-widget">
    <div class="box-header with-border text-center bg-black text-white">
        <h3>Pages - Level 2 - Signed In Users</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th class="text-right">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Product p in Model.DbContext.Products.OrderBy(p => p.Id))
                        {
                            <tr>
                                <td>@p.Id</td>
                                <td>@p.Name</td>
                                <td>@p.Category</td>
                                <td class="text-right">$@p.Price.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
    </div>
</div>
